*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    
}
.box{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}


@media(max-width:1568px){
    body{
        background-color: black;
    }
}
@media(max-width:1568px){
    .box{
        background-color: red;
        width: 230px;
    height: 230px;
    }
}

@media(max-width:1420px){
    body{
        background-color: yellow;
    }
}



@media(max-width:1420px){
    .box{
        background-color: blue;
        color: white;
        width: 400px;
        height: 300px;
    }
}


@media(max-width:1245px){
    body{
        background-color: red;
    }
}

@media(max-width:1245px){
    .box{
        width: 350px;
        height: 250px;
        background-color: black;
        color: white;
    }
}

@media(max-width:1090px){
    body{background-color: yellow;}
}

@media(max-width:1090px){
    .box{
        background-color: blue;
        width: 300px;
        height: 200px;
    }
}

@media(max-width:940px){
    body{
        background-color: blueviolet;
    }
}
@media(max-width:940px){
    .box{
        background-color: chocolate;
    }
}
@media(max-width:639px){
    .box{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}